@page "/loop"
@rendermode InteractiveServer

<PageTitle>Loop</PageTitle>

<h1>Loop</h1>

<p>
    This component uses for loop to create list values up to _count<br/>
    Pressing button increments this value
</p>

<LoopComponent/>